MYSQL_ROOT_PASSWORD=suasenha_root
MYSQL_DATABASE=adega_db
MYSQL_USER=adega_user
MYSQL_PASSWORD=suasenha_user
DB_PORT_HOST=3307
API_PORT_HOST=8080
# Defina uma chave secreta para o JWT aqui:
API_SECURITY_TOKEN_SECRET=301f9e2e-2e4a-449e-8367-1725b822d57c