MYSQL_ROOT_PASSWORD=root_adega_123
MYSQL_DATABASE=adega
MYSQL_USER=adega_admin
MYSQL_PASSWORD=adega_pass_456
DB_PORT_HOST=3307
API_PORT_HOST=8080
API_HTTPS_PORT_HOST=8443
API_SECURITY_TOKEN_SECRET=uma_chave_secreta_muito_longa_e_segura_para_o_jwt_2024