/* Estilos específicos para a página de Login */

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    margin: 0;
}

.login-card {
    max-width: 400px;
    width: 100%;
    padding: 2.5rem;
    text-align: center;
}