<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Adega UMC</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="login-body">
    <div class="card login-card">
        <h1>Login</h1>
        <p>Acesse sua conta para continuar.</p>
        <form id="formLogin">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="inputEmail" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="inputSenha" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-2">Entrar</button>
        </form>
        <p class="error-message" id="errorMessage" style="display: none; margin-top: 1rem;">Credenciais inválidas.</p>
    </div>
    <script type="module" th:src="@{/js/login/login.js}"></script>
</body>
</html>