<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Produtos - Adega UMC</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/produtos.css}">
</head>
<body class="dashboard-body">
    <div class="layout-wrapper">
        <!-- Barra Lateral de Navegação -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>Adega UMC</h2>
            </div>
            <nav class="sidebar-nav">
                <a th:href="@{/home}">Dashboard</a>
                <a th:href="@{/produtos}" class="active">Produtos</a>
                <a th:href="@{/estoque}">Estoque</a>
                <a th:href="@{/vendas}" >Vender</a>
                <button class="btn-logout-sidebar" onclick="window.logout()">Sair</button>
            </nav>
        </aside>

        <!-- Conteúdo Principal -->
        <main class="main-content">
            <header class="content-header">
                <div class="header-info">
                    <h1>Gerenciamento de Produtos</h1>
                    <p>Adicione, edite ou remova produtos do seu catálogo.</p>
                </div>
                <button class="btn btn-primary" onclick="window.prepararCriacao()">+ Novo Produto</button>
            </header>

            <section class="card table-card">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr><th>Nome</th><th>Tipo</th><th>Valor</th><th>Ações</th></tr>
                        </thead>
                        <tbody id="tabela-produtos-body"></tbody>
                    </table>
                </div>
            </section>
        </main>
    </div>
    <script type="module" th:src="@{/js/produtos/produtos.js}"></script>
</body>
</html>